<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Course Registration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admcheck</display-name>
    <servlet-name>admcheck</servlet-name>
    <servlet-class>com.manoj.admcheck</servlet-class>
    <init-param>
      <param-name>adminname</param-name>
      <param-value>manojs</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>Manoj2k2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>admcheck</servlet-name>
    <url-pattern>/admcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addstudent</display-name>
    <servlet-name>addstudent</servlet-name>
    <servlet-class>com.manoj.addstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstudent</servlet-name>
    <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminops</display-name>
    <servlet-name>adminops</servlet-name>
    <servlet-class>com.manoj.adminops</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminops</servlet-name>
    <url-pattern>/adminops</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentData</display-name>
    <servlet-name>DeleteStudentData</servlet-name>
    <servlet-class>com.manoj.DeleteStudentData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentData</servlet-name>
    <url-pattern>/DeleteStudentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentData</display-name>
    <servlet-name>UpdateStudentData</servlet-name>
    <servlet-class>com.manoj.UpdateStudentData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentData</servlet-name>
    <url-pattern>/UpdateStudentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newcourse</display-name>
    <servlet-name>Newcourse</servlet-name>
    <servlet-class>com.manoj.Newcourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newcourse</servlet-name>
    <url-pattern>/Newcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scheck</display-name>
    <servlet-name>scheck</servlet-name>
    <servlet-class>com.manoj.scheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheck</servlet-name>
    <url-pattern>/scheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scheck1</display-name>
    <servlet-name>scheck1</servlet-name>
    <servlet-class>com.manoj.scheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheck1</servlet-name>
    <url-pattern>/scheck1</url-pattern>
  </servlet-mapping>
</web-app>